.interesting-header {
   /*background: #1B1B1B;*/
   /*width:100%;*/
   /*height:256px;*/
   margin-bottom:20px;
   overflow:hidden;
   position:absolute;
   /*left:20px;
   top:0px;*/

   left: 120px;
top: 20px;
}
.interesting-header img{
   max-width:150px;
}
.interesting-header p {
   color: #fff;
   padding-top: 20px;
   line-height: 26px;
}
.interesting-header img.erd {
   float: right;
   margin-right: 10px;
   max-width: 200px;
   margin-top: 65px;
}
p.explain-me{line-height: 26px ;color:#ddd;}
.hide-me{
   /*display:none;*/
}
.hide-me p{
   line-height: 22px ;color:#ddd;
}
/*.tab-content { width:650px; min-height: 200px}*/
.chzn-container{margin-left:auto;margin-right:0px;}
.container { width:950px !important; margin-right: 20px; }
.urls { float:right }
/*.urls a:after { content: "," } 
.urls a:last-child:after { content: "" }*/
.tweet{ line-height:44px }
/*.well{width:850px;}*/
footer{ text-align:center;color:#ddd; }
body{background-color:#1B1B1B;padding-top:10px;}
.show-text{
   cursor: pointer;
}
.tabbable{
   min-height: 500px;
}