.interesting-header {
   margin-bottom:20px;
   overflow:hidden;
   position:absolute;
   top: 15px;
   right:1040px;
}
.interesting-header img{
   max-width:150px;
}
.interesting-header p {
   color: #fff;
   padding-top: 20px;
   line-height: 26px;
}
.interesting-header img.erd {
   float: right;
   margin-right: 10px;
   max-width: 200px;
   margin-top: 65px;
}
.panda{
   float: left;
   margin-left: -160px;
   margin-right: 20px;
   margin-top: 10px;poz
}

.hide-me p, .explain-me{ line-height: 22px ;color:#ddd; }
.chzn-container{display:inline-block;font-weight: normal;text-align:left;}
.container { width:1000px !important; margin-right: 20px; }
.urls { float:right }
.tweet{ line-height:44px }
.show-text{ cursor: pointer; }
.tabbable{ min-height: 500px; }
.well h2{display:inline-block;}

@media only screen and (min-width: 1300px) { .container { margin-right: auto; } }

footer{ text-align:center;color:#ddd; }
body{background-color:#1B1B1B;padding-top:10px;}
h4{text-align:center;}